*{
	margin: 0;
	padding: 0;
	border: 0;
}


body{
	font-family: "verdana";
	margin:0;
	color: black;
}


h2{
	font-size: 20px;
}

p{
	font-size: 15px;
}


main a{
	background-color:#feaf12;
	color:black;
	padding: 10px 15px;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	border-radius: 5px;
}

main a:hover{
	background-color:black;
	color:white;
}


/*-- HEADER --*/

header{
	max-width: 1500px;
	width:100%;
	height: 70px;
	background: black;
}

#logo{
	float: left;
	width: 100px;
	height: 70px;
	margin: 0 15px 0 20px;
	background: url(C:/Users/Iwona/projects/travel/img/logo.png) no-repeat center;
}

.navigation{
	display:inline-block;
}

nav ul li {
	list-style-type: none;
	display:inline-block;
	letter-spacing: 2;
	height: 70px;
	padding: 0 15px;
}


nav ul li a{
	font-size: 15px;
	font-family: verdana;
	text-decoration: none;
	color:white;
	line-height: 75px;
}

nav ul li:hover{
	background-color: #feaf12;
}



.social{
	float: right;
	font-size: 20px;
	height: 70px;
	line-height: 75px;
	margin-right: 50px;
}

.social a{
	color: white;
	padding-left: 15px;
}

.social a:hover{
	color: #feaf12;
}


#menu-icon{
	display: none;
	width: 40px;
	height: 70px;
	background: url(C:/Users/Iwona/projects/travel/img/nav.png) no-repeat center;
}


.content{
	overflow: auto;
	min-height: 1000px;
	height: 100%;
}



/*---1 SECTION---*/

.first{
	width: 100%;
	background-color: red;
	height: 170px;
	margin-top: 10px;
}


.image{
	float:left;
	width: 70%;
	text-align: center;
	background-color: red;
}

.image img{
	width: 80%;
	height: auto;
}

.text{
	float:right;
	width: 30%;
	text-align: center;
}



/*---2 SECTION---*/
.second{
	width: 100%;
	border-bottom: 1px solid black;	
}

.two{
	float:left;
	width: 50%;
	text-align: center;
	margin: 10px 0;
	background-color: green;
}

.two img{
	width:98%;
}

.two p{
	padding:15px;
}

.two h2{
	padding-top:15px;
}


/*---3 SECTION---*/

.third{
	width: 100%;
	border-bottom: 1px solid black;	
}

.three{
	float: left;
	width: 33.333%;
	text-align: center;
	margin: 10px 0;
	background-color: blue;
}

.three img{
	width:98%;
}

.three p{
	padding:15px;
}

.three h2{
	padding-top:15px;
}

/*----4 SECTIONS---*/

.fourth{
	width: 100%;
}


.four{
	width: 25%;
	float:left;
	text-align: center;
	margin: 20px 0;
	padding-top: 10px;
	border-top:1px solid black;
	background-color: gray;
}

.four img{
	margin: auto;
	display: block;
}

.four p{
	margin: 10px 15px;
}




/*----FOOTER----*/

footer{
	width: 100%;
	height:40px;
	background-color: black;
}

footer p{
	float: right;
	font-size:10px;
	margin-right: 5%;
	line-height: 40px;
	color: white;
}

footer img{
	float: left;
	height: 40px;
	margin-left: 20px;
}






/*-----MEDIA QUERIES------*/

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px){

#logo{
	margin: 0 20px 0 20px;
}


nav ul li {
	letter-spacing: 1;
	padding: 0 5px;
}


nav ul li a{
	font-size: 14px;
}

.social{
	margin-right: 20px;
}

.social a{
	padding-left: 5px;
}

}

/* Large screen mobiles */
@media only screen and (max-width: 767px){
	#menu-icon{
		display: inline-block;
		margin-left: 50px;
	}



	nav ul{
		display: none;
		position: absolute; 
		background:black;
		width: 35%;
	}

	nav:hover ul{
		display: block;
	}

	nav li{
		text-align: center;
		width: 100%;
	}


	nav ul li {
		height: 30px;
		padding: 10px 0;
	}

nav ul li a{
	font-size: 15px;
	font-family: verdana;
	line-height: 25px;
}

}




/* iPhones and other mobiles*/
@media only screen and (max-width: 480px) {
	
	#menu-icon{
		display: inline-block;
	}


	nav ul{
		display: none;
	}

	.social{
	display: none;
	}


}

