*{
	margin: 0;
	padding: 0;
	border: 0;
}


body{
	font-family: "verdana";
	margin:0;
	color: black;
}

.content{
	overflow: auto;
	height: auto;
	margin-left: 7%;
	margin-right: 7%;
}

/*----FOOTER----*/

footer{
	bottom: 0;
	width: 100%;
	height:40px;
	background-color: black;
}

footer p{
	float: right;
	font-size:10px;
	margin-right: 5%;
	line-height: 40px;
	color: white;
}

footer img{
	float: left;
	height: 40px;
	margin-left: 20px;
}




h2{
	font-size: 20px;
}

p{
	font-size: 15px;
}


 a.camera{
	background-color:#feaf12;
	color:black;
	padding: 7px;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	border-radius: 5px;
	margin: 0 10px;
}

a:hover.camera {
	background-color:black;
	color:white;
}

p.data{
	color: #A0A0A0;
	font-family: Helvetica;
    font-size: 15px;
    line-height: 30px;
}

.data-one-line {
	display: none;
}

.three-lines{
	display: block;
}

/*-- HEADER --*/

header{
	max-width: 1500px;
	width:100%;
	background: black;
	margin-top:0;
	height: 70px;
}

#logo{
	float: left;
	width: 100px;
	height: 70px;
	margin: 0 15px 0 7%;
	background: url(https://iwona85.github.io/travel/img/logo.png) no-repeat center;
}


/*---NAWIGACJA---*/


.navigation{
	float: left;
}

.navigation li {
	display:inline-block;
	letter-spacing: 2;
}


.navigation a{
	font-size: 16px;
	font-family: verdana;
	text-decoration: none;
	color:white;
	padding: 12px;
	display: block;
	border-radius: 5px;
	margin-top: 15px;
}

.navigation a:hover{
	background-color: #feaf12;
}

.navigation a.active {
	background-color: #feaf12;
}

.social{
	float: right;
	margin-right: 7%;
	margin-top: 15px;
}


.social a{
	color: white;
	font-size: 24px;
	padding: 25px 10px;
}

.social a:hover{
	color: #feaf12;
}

/*-----kONIEC NAWIGACJI-----*/

#menu-icon{
	display: none;
	width: 40px;
	height: 70px;
	background: url(https://iwona85.github.io/travel/img/nav.png) no-repeat center;
}




/*--Slider--*/


.left, .right {  
	cursor: pointer;  
	position: absolute;  
	top: 150px;  
	padding: 10px;  
	color: black;  
	font-weight: bold;  
	font-size: 18px;  
	border-radius: 5px;
	background-color: #feaf12;
	} 


.left{
	left:30px;
}

.right {  
	right: 30px;  
	border-radius: 5px; 
}  
   

.showSlide{
	position: relative;
}

img.slide {
	width: 100%;
}

.slidercontainer h4{
	position: absolute;
	left: 30px;
	top: 70%;
	color: white;
	font-size:22px;
}


.slidercontainer p{
	position: absolute;
	left: 30px;
	top: 78%;
	color: white;
}

p.autor{
	font-size:14px;
	top:58%;
	left: 80px;
}


img.face{
	width: 45px;
	position: absolute;
	left: 30px;
	top: 55%;
	border-radius: 100%;
}



/*---SIDEBAR posts---*/

.sidebar{
	width: 30%;
	float: right;
	margin-bottom: 40px;
}

.image-and-text {
	width: 100%;
	border-bottom: 1px solid #f0eee9;
	margin-bottom: 20px;
}

.image-and-text img{
	width: 30%;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.sidebar p{
	font-size:12px;
	margin-bottom: 25px;
}


.icons-sidebar {
	margin-bottom: 15px;
}

.sidebar h4{
	border-bottom: 5px solid #f2f2f2;
	padding-bottom: 10px;
	margin: 30px 0 20px 0;
}

.sidebar a{
	color: #414141;
	text-decoration: none;
}

.sidebar a:hover{
	text-decoration: underline;
}



/*---LATES IMAGES----*/
.lates-images{
	width: 33.333%;
	float: left;
}

 .lates-images img{
 	width: 100%;
 	outline: 1px solid white;
    outline-offset: -1px;
    display: block;
 }

/*---PEOPLE---*/


.people{
	width: 33.333%;
	float: left;
}

 .people img{
 	width: 90%;
 	margin-bottom: 10px;
 	border-radius: 100%;
    display: block;
 }

/*--AUTORS--*/




.autors h5{
	margin-bottom: 10px;
}


.autors img{
	border-radius: 100%;
}



/*--Instagram--*/

.instagram{
	width: 70%;
	margin-top: 30px;
	float: left;
}

.box{
width:100%;
}

.container {
  position: relative;
  width: 30%;
  float: left;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-image-outset: 2px solid white;
  border-image-outset: 2px solid white;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #feaf12;
}

.container:hover .overlay {
  opacity: 1;
}

.text p{
  color: white;
  font-size: 15px;
  position: absolute;
  text-align: center;
  margin:7px;
}




/*---3 SECTION---*/

.third{
	width: 90%;
	margin-top: 20px;
}


.one-three {
	float: left;
	width: 33.333%;
	text-align: center;

}

.one-three img{
	width:100%;
    outline: 15px solid white;
}


.one-three p{
	font-size: 15px;
	margin: 0px 10px 15px 10px;
	color: #414141;
}


.one-three h4{
	margin: 15px;
}

/*---2 colums----*/
.two-colums{
	width: 100%;
	overflow: hidden
}

.two-colums img:hover{
	opacity: 0.7;
}

.half {
	width: 50%;
	float: left;
	position: relative;	
}

.half img{
	width: 100%;
	outline: 5px solid white;
    outline-offset: -5px;
}


.two-colums-on-half{
	width: 50%;
	float: left;
	position: relative;

}

.two-colums-on-half img{
	width: 100%;
	display: block;
	outline: 5px solid white;
    outline-offset: -5px;

}



/*--HEADLINES ON IMAGES (TRAVEL PAGE)---*/
.headline p{
	font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding:3px;
}


/*----article---*/

.article {
	width: 70%;
	float: left;
	margin-bottom: 10px;
}

article {
	width: 90%;
}

.article h1{
	border-bottom: 5px solid #f2f2f2;
	padding-bottom: 10px;
	margin: 20px 0;
}

.article p{
	color: #414141;
	margin-bottom: 10px;
}

.article img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

figcaption {
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	color: #414141;
}

a.more-button{
	padding: 8px 16px;
	color: white;
	background-color: black;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}

a:hover.more-button{
	background-color: #feaf12;
}

blockquote{
	font-size: 16px;
    text-align: center;
    margin: 40px 70px;
    padding: 0 0 0 35px;
    color: #414141;
    background: url(https://iwona85.github.io/travel/img/quotes.png) no-repeat top left;
}

blockquote p{
	font-size: 16px;
	padding-right: 25px !important;
	background: url(https://iwona85.github.io/travel/img/quotes.png) no-repeat bottom right;
}

/*----contact---*/

.formular {
	margin-top: 30px;
	position: absolute;
	left: 10%;
	top: 10%;	
}

.contact {
	position: relative;	
}

.contact img{
	width: 100%; 
	min-height: 500px;
}



/*---formularz---*/


input, textarea{
	border: 1px solid gray;
	padding: 6px;
	margin-top: 7px;


}

form p{
	margin-top: 13px;
}

form h3{
	margin-top: 20px;
}

button.more-button{
	margin: 10px 0px;
	padding: 8px 16px;
	color: white;
	background-color: black;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}









/*-----MEDIA QUERIES------*/

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px){

.social{
	display: none;
}

.text p{
  font-size: 11px;
  margin:9px;
}


.lates-images{
	width: 60%;
	float: left;
}


 .lates-images img{
 	width: 100%;
 	outline: 1px solid white;
    outline-offset: -1px;
    display: block;
 }

.only-for-index{
	display: none;
}

.one-three {
	width: 100%;
	text-align: left;
}

.one-three img{
	width:30%;
	float:left;
	margin-right: 10px;
	margin-bottom: 60px;
}

.article p{
	margin-bottom: 0px;
}

.data-one-line {
	display: inline;
}

.three-lines{
	display: none;
}

}

/* Large screen mobiles */
@media only screen and (max-width: 767px){
	#menu-icon{
		display: inline-block;
		margin-left: 50px;
	}



	nav ul{
		display: none;
		position: absolute; 
		background:black;
		width: 35%;
	}

	nav:hover ul{
		display: block;
	}

	nav li{
		text-align: center;
		width: 100%;
	}


	nav ul li {
		height: 30px;
		padding: 10px 0;
	}

	nav ul li a{
		font-size: 15px;
		font-family: verdana;
		line-height: 25px;
	}


	 a.camera{
		padding: 4px;
		font-size:13px;
		margin: 7px;
	}

	.lates-images {
	    width: 33.3333%;
	}

	.sidebar{
		width: 100%;
	}


	blockquote{
	    margin: 35px;
	}

	.article {
	width: 100%;
	}

	.image-and-text img{
	width: 10%;
}

.headline p{
	font-size: 11px;
}

.one-three {
	width: 100%;
}

.one-three img{
	width:40%;
}


.one-three p{
	font-size: 14px;
}


.one-three h4{
	font-size: 16px;
	margin: 0;
}

 a.camera{
	padding: 5px;
	font-size:12px;
	margin: 5px;
}

p.data{
    line-height: 22px;
}

.instagram{
	width: 100%;
}


.text p{
  font-size: 12px;
  margin:7px;
}


}




/* iPhones and other mobiles*/
@media only screen and (max-width: 480px) {
	
	#menu-icon{
		display: inline-block;
	}


	nav ul{
		display: none;
	}

	.social{
	display: none;
	}


	blockquote{
	    margin: 5px;
	}

	.article {
	width: 100%;
}


.one-three p{
	font-size: 13px;
	margin: 10px 0;
}


.one-three h4{
	font-size: 15px;
	margin: 10px 0;
}

.one-three {
	width: 100%;
}

.one-three img{
	width:96%;
	margin: 10px 0;
	outline: 0px;
}


 a.camera{
	padding: 5px;
	font-size:10px;
	margin: 5px;
}


.two-colums{
	width: 100%;
	overflow: hidden
}



.half {
	width: 100%;
}

p.data{
	font-size: 12px;
    line-height: 20px;
}


.instagram{
	width: 100%;
}


.text p{
  font-size: 8px;
  margin:3px;
}


}



