*{
	margin: 0;
	padding: 0;
	border: 0;
}


body{
	font-family: "verdana";
	margin:0;
	color: black;
}


h2{
	font-size: 20px;
}

p{
	font-size: 15px;
}


 a.camera{
	background-color:#feaf12;
	color:black;
	padding: 7px;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	border-radius: 5px;
	margin: 8px;
}

a:hover.camera {
	background-color:black;
	color:white;
}

p.data{
	color: #A0A0A0;
	font-family: Helvetica;
    font-size: 15px;
}

/*-- HEADER --*/

header{
	max-width: 1500px;
	width:100%;
	background: black;
	margin-top:0;
	height: 70px;
}

#logo{
	float: left;
	width: 100px;
	height: 70px;
	margin: 0 15px 0 7%;
	background: url(C:/Users/Iwona/projects/travel/img/logo.png) no-repeat center;
}


/*---NAWIGACJA---*/


.navigation{
	float: left;
}

.navigation li {
	display:inline-block;
	letter-spacing: 2;
}


.navigation a{
	font-size: 16px;
	font-family: verdana;
	text-decoration: none;
	color:white;
	padding: 12px;
	display: block;
	border-radius: 5px;
	margin-top: 15px;
}

.navigation a:hover{
	background-color: #feaf12;
}

.navigation a.active {
	background-color: #feaf12;
}

.social{
	float: right;
	margin-right: 7%;
}


.social a{
	color: white;
	font-size: 24px;
	padding: 25px 10px;
}

.social a:hover{
	color: #feaf12;
}

/*-----kONIEC NAWIGACJI-----*/

#menu-icon{
	display: none;
	width: 40px;
	height: 70px;
	background: url(C:/Users/Iwona/projects/travel/img/nav.png) no-repeat center;
}


.content{
	overflow: auto;
	height: auto;
	height: 100%;
	margin-left: 7%;
	margin-right: 7%;
}

/*--Slider--*/

.left, .right {  
	cursor: pointer;  
	position: absolute;  
	top: 20%;  
	padding: 10px;  
	color: black;  
	font-weight: bold;  
	font-size: 18px;  
	border-radius: 5px;
	background-color: #feaf12;
	} 


.left{
	left:30px;
}

.right {  
	right: 30px;  
	border-radius: 5px; 
}  
   

.showSlide{
	position: relative;
}

img.slide {
	width: 100%;
}

.slidercontainer h4{
	position: absolute;
	left: 30px;
	top: 70%;
	color: white;
	font-size:22px;
}


.slidercontainer p{
	position: absolute;
	left: 30px;
	top: 78%;
	color: white;
}

p.autor{
	font-size:14px;
	top:58%;
	left: 80px;
}


img.face{
	width: 45px;
	position: absolute;
	left: 30px;
	top: 55%;
	border-radius: 100%;
}



/*---SIDEBAR posts---*/

.sidebar{
	width: 30%;
	float: right;
}

.sidebar p{
	font-size:12px;
}

img.sidebar {
	margin-right: 10px;
	float: left;
}

.sidebar li{
	list-style-type: none;
	padding: 25px 0 25px 0;
	border-bottom: 1px solid #f0eee9;
}

.sidebar h4{
	border-bottom: 5px solid #f2f2f2;
	padding-bottom: 10px;
	margin: 30px 0 0 0;
}

.sidebar a{
	color: #414141;
	text-decoration: none;
}

.sidebar a:hover{
	text-decoration: underline;
}


/*---LATES IMAGES----*/
.lates-images{
	width: 33.333%;
	float: left;
	margin-top: 20px;
}


 .lates-images img{
 	width: 100%;
 	outline: 1px solid white;
    outline-offset: -1px;
 }

/*--AUTORS--*/


.autors p{
	text-align: center;
	margin:0px 20px;
}

.autors h5{
	text-align:center;
	margin-bottom: 10px;
}

.autors li{
	border-bottom: 1px solid #f0eee9;
}

.autors img{
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}


/*--Instagram--*/

.instagram{
	width: 70%;
	margin-top: 30px;
	float: left;
}

.box{
width:100%;
}

.container {
  position: relative;
  width: 30%;
  float: left;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-image-outset: 2px solid white;
  border-image-outset: 2px solid white;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #feaf12;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  text-align: center;
  margin:10px;
}




/*---3 SECTION---*/

.third{
	width: 100%;
}


.one-three {
	float: left;
	width: 33.333%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.one-three img{
	width:100%;
    outline: 2px solid white;
    outline-offset: -2px;
}


.one-three p{
	padding: 0px 10px 15px 10px;
	color: #414141;
}


.one-three h4{
	padding: 15px;
}



/*----article---*/

.article {
	width: 70%;
	float: left;
}

article {
	width: 90%;
}

.article h1{
	border-bottom: 5px solid #f2f2f2;
	padding-bottom: 10px;
	margin: 20px 0;
}

.article p{
	color: #414141;
	margin-bottom: 20px;
}

.article img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

figcaption {
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	color: #414141;
}

a.more-button{
	padding: 10px 18px;
	color: white;
	background-color: black;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}

a:hover.more-button{
	background-color: #feaf12;
}

blockquote{
	font-size: 16px;
    text-align: center;
    margin: 40px 70px;
    padding: 0 0 0 35px;
    color: #414141;
    background: url(C:/Users/Iwona/projects/travel/img/quotes.png) no-repeat top left;
}

blockquote p{
	font-size: 16px;
	padding-right: 25px !important;
	background: url(C:/Users/Iwona/projects/travel/img/quotes.png) no-repeat bottom right;
}





/*----FOOTER----*/

footer{
	width: 100%;
	height:40px;
	background-color: black;
}

footer p{
	float: right;
	font-size:10px;
	margin-right: 5%;
	line-height: 40px;
	color: white;
}

footer img{
	float: left;
	height: 40px;
	margin-left: 20px;
}






/*-----MEDIA QUERIES------*/

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px){

.social{
	display: none;
}



}

/* Large screen mobiles */
@media only screen and (max-width: 767px){
	#menu-icon{
		display: inline-block;
		margin-left: 50px;
	}



	nav ul{
		display: none;
		position: absolute; 
		background:black;
		width: 35%;
	}

	nav:hover ul{
		display: block;
	}

	nav li{
		text-align: center;
		width: 100%;
	}


	nav ul li {
		height: 30px;
		padding: 10px 0;
	}

nav ul li a{
	font-size: 15px;
	font-family: verdana;
	line-height: 25px;
}

}




/* iPhones and other mobiles*/
@media only screen and (max-width: 480px) {
	
	#menu-icon{
		display: inline-block;
	}


	nav ul{
		display: none;
	}

	.social{
	display: none;
	}


}



